<?php 

    ##########################
    # TEMPLATE FOR NEW PAGES #
    # REFRENCES HEADER.PHP   #
    #         + FOOTER.PHP   #
    #                        #
    # MAKE SURE TO UPDATE    #
    # THE ASSETS REFRENCE    #
    ##########################

    $ASSETS_FOLDER = "../assets/";

    require($ASSETS_FOLDER."header.php");



?>




SPECIFIC PAGE CODE GOES HERE




<?php 

require($ASSETS_FOLDER."footer.php");

?>
